:root {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #333;
  background: linear-gradient(to bottom, #a7c7e7, #ffffff);
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  padding-top: 2rem; 
  padding-bottom: 2rem;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  color: #002D62; 
  font-weight: 600;
}
